.container {
	width: auto; 
  margin-left: 25px;
}

/* HEADER */
.header {
  width: 1600px;
  padding: 10px 0;
  background-color: #DCDCE4;
  position: fixed;
}

/* PAGE NAVIGATION */
.navigation {
  min-height: 34px;
}

.navigation li {
  list-style-type: none;
  float: left;
  width: 150px;
  font-family: Bellefair;
  font-size: 28px;
}

.navigation a {
  display: block;
  text-align: center;
  color: #3B6E69;
  line-height: 25px;
  text-decoration: none;
  
}

.navigation li a:hover {
  color: #6EAFAD;
  
}

/* TITLE */
.name {
  letter-spacing: 12px;
  text-align: center;
  font-family: Droid Serif;
  font-size: 25px;
  color: #3B6E69;
}
		
/* ABOUT */
.about {
  display: block;
  max-width: 900px;
  height: auto;
  margin: 10px 20px 10px 40px;
}
		
.about p {
  font-family: Bellefair;
  font-size: 25px;
}

/* IMAGES */
.images {
  float: left;
}

.photo1, .photo2, .photo3, .photo4 {
  display: inline-block;
  margin: 20px;
  box-sizing: border-box;
}

/* CONTACT */
.contact {
  font-size: 22px;
  font-family: Droid Serif;
}

.ifYouWantToContactMe {
  font-family: Bellefair;
  font-size: 25px;
  max-width: 1460px;
}

/* FORM */
.form p {
  font-size: 18px;
  color: #3B6E69;
}

/* FOOTER */
.footer {
  background-color: #DCDCE4;
  color: #6EAFAD;
  font-size: 20px;
  margin-top: 30px;
  height: 40px;
  text-align: center;
}